*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
  background-color: white;
}
body{
  font-family: 'poppins',sans-serif;
}
.secondary {
  font-family: 'Inter', sans-serif;
}
h1, h2 {
  font-weight: 700; /* títulos grandes */
}

h3, h4 {
  font-weight: 600; /* subtítulos */
}

p {
  font-weight: 400; /* texto normal */
}

.small-text {
  font-weight: 300; /* texto pequeño */
}

body{
  background:#f1f1f1;
}

/* HEADER */
.top-bar{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px 20px;
  background:#fff;
  flex-wrap:wrap;
  border-bottom: 0px solid red;
  width: 100%;
}
.conten_bar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10vw;

    
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_img {
  width: 180px;       /* tamaño normal en PC */
  height: auto;       /* mantiene proporción */
  max-width: 100%;    /* evita que se salga */
  object-fit: contain;
}
.logo h2{
  color:#000;
}

.logo span{
  color:red;
}
.cont_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_banner{
    width:100%;
}
/*BANNER 2*/
.promos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

/* CADA TARJETA */
.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

/* IMAGEN */
.promo img {
  width: 80%;
  height: 800%;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

/* HOVER */
.promo:hover {
  transform: translateY(-5px) scale(1.02);
}
/*SEARCH*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;

}
.search_style{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
}

.search button {
  padding: 8px 12px;
  border: none;
  background: red;
  color: white;
  border-radius: 0 20px 20px 0;
}
.lupa{
   background: red;
    width: 12px;
    margin-top: 2px;
}
/* REDES */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
i {
  background: none !important;
  display: inline-block;
  width: auto !important;
  height: auto !important;
  color: inherit;
  font-size: 20px;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: #f1f1f1;
  border-radius: 50%;*/
  color: #333;
  font-size: 16px;
  transition: 0.3s;
}

/* COLORES HOVER */
.social a:hover:nth-child(1) {
  background: #25D366;
  color: white;
}

.social a:hover:nth-child(2) {
  background: #1877F2;
  color: white;
}

.social a:hover:nth-child(3) {
  background: #E1306C;
  color: white;
}


/* Iconos */
.icons {
  display: flex;
  gap: 15px;
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/* NAV */
.navbar{
  background:red;
  display:flex;
  justify-content:left;
  align-items: center;
  flex-wrap: wrap;
  gap:40px;
  padding:10px 20px;
  overflow-x:auto;
}

.navbar a{
  color:white;
  text-decoration:none;
  white-space:nowrap;
  margin-left: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HERO */
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px;
  background:#fff;
  margin:20px;
  border-radius:10px;
  flex-wrap:wrap;
}

.hero-text{
  max-width:500px;
}

.hero h1{
  font-size:40px;
}

.hero h1 span{
  color:red;
}

.hero p{
  margin:15px 0;
}

.btn{
  background:red;
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:20px;
}

.hero img{
  width:400px;
}

/*CARD CIRCULE*/
.categoria {
  text-align: center;
}

/* círculo */
.circle {
  width: 25vw;
  height: 25vw;
  max-width: 180px;
  max-height: 180px;

  margin: auto;
  border-radius: 50%;
  overflow: hidden;

  position: relative;
  transition: 0.3s;
}
.circle_text{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

/* imagen */
.circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* aro oculto */
.circle::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.3s;
}

/* hover */
.circle:hover::before {
  border: 1px solid #343233;
}

.circle:hover {
  transform: scale(1.05);
}


.contenedor-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
  .circle {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 480px) {
  .circle {
    width: 40vw;
    height: 40vw;
  }
}


/* CATEGORIAS */
.categorias{
  padding:20px;
}

.grid{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}



/* Responsive */

@media (max-width: 600px) {
    .logo_img {
        max-width: 60px;
    }
}
@media (max-width: 1990px) {
    .logo_footer {
        max-width: 320px;
    }
}

/* Celular pequeño */
@media (max-width: 360px) {
    .logo_img {
        max-width: 130px;
    }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .new-price {
    font-size: 28px;
  }

  .card-img {
    padding: 15px;
  }
}


/* RESPONSIVE */
@media(max-width:1238px){
  .grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }
  .categoria{
    width: 100%;
  }
  .product-grid{
    grid-template-columns:repeat(3,1fr);
  }
}

@media(max-width:768px){
  .search{
    width:100%;
    margin:10px 0;
  }

  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero img{
    width:100%;
  }

  .grid{
    grid-template-columns:repeat(2,1fr);
  }

  .product-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:480px){
  .grid{
    grid-template-columns:1fr;
  }

  .product-grid{
    grid-template-columns:1fr;
  }

  .hero h1{
    font-size:28px;
  }
}
@media (max-width: 768px) {
  .logo_img {
    width: 140px;
  }
}

/* Celular */
@media (max-width: 480px) {
  .logo_img {
    width: 110px;
  }
}
@media (max-width: 768px) {

  .header {
    flex-wrap: wrap;
  }

  .search {
    order: 3;
    width: 100%;
  }

}
@media (max-width: 480px) {

  .top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    justify-content: center;
  }

  .search {
    order: 2;
    width: 100%;
  }

  .social {
    order: 3;
    justify-content: center;
    width: 20%;

  }
  .social a{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  border-radius: 50%;
  color: #333;
  font-size: 16px;
  transition: 0.3s;
  }

}

/* BANNER 2 */
@media (max-width: 1024px) {
  .promos {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Celular */
@media (max-width: 600px) {
  .promos {
    grid-template-columns: 1fr;
  }
}


/*CARD PRODUCT*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 120px;
}

.titul{
  padding: 50px;
  font-size: 20px;
}

/* Card */
.cards {
  background: var(--card-bg);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  background:#fff;
  padding:15px;
  text-align:center;
  border: 1px solid #ccc;
  border-radius:  20px;
}
.cards_img{
  width:80px;
}
.cards:hover {
  transform: translateY(-5px);
}

.cards_img {
  width: 100%;
  max-height: 1400px;
  object-fit: contain;
}

.title {
  font-size: 14px;
  color: var(--text);
  margin: 10px 0 5px;
}

.price {
  font-weight: bold;
  color: var(--price);
  margin-bottom: 8px;
}

.stars {
  color: var(--star);
  font-size: 14px;
}

/* Responsive */
@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}



/*CARD CONTENT*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.contenedor .contenedor-items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .cards_img{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.content_titul_item{
  display:flex;
    justify-content: start;
    align-items: start;
}
.titulo-item{
  color: #3f3f40;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.content_precio_item{
  display:flex;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
}
.precio-item{
  font-size: 14px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .5px;
    color: #7d2828;
}

.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgb(218, 21, 21);
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}
.btn-eliminar{
  margin-top: 50px;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }
  

/*FOOTER*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:white;
    font-family:Arial, Helvetica, sans-serif;
}

/* FOOTER */

.footer{
    width:100%;
    background:white;
    margin-top:50px;
    border-top:1px solid #ddd;
}

/* METODOS DE PAGO */

.metodos_pago{

    width:100%;

    display:flex;

    justify-content:center;
    align-items:center;

    gap:150px;

    padding:20px;

    border-bottom:1px solid #ddd;

    flex-wrap:wrap;
}

.metodos_pago img{
    width:45px;
}

/* CONTENEDOR */

.footer_container{

    width:100%;
    max-width:1400px;

    margin:auto;

    padding:60px 40px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:50px;
}

/* BOX */

.footer_box{

    display:flex;
    justify-content: center;
    flex-direction:column;

    gap:18px;
}

/* LOGO */

.logo{

    font-size:55px;

    line-height:70px;

    color:#ff3f8e;
}

/* TITULOS */

.footer_box h2{

    font-size:14px;

    color:#111;

    margin-bottom:10px;
}

/* LINKS */

.footer_box a{

    text-decoration:none;

    color:#333;

    font-size:14px;

    transition:.3s;
}

.footer_box a:hover{
    color:#ea4e4e;
}

/* TEXTOS */

.footer_box p{

    color:#333;

    font-size:14px;

    line-height:30px;
}
.logo_footer{
  width: 40vh;
}

/* REDES */

.redes{

    display:flex;

    gap:15px;

    flex-wrap:wrap;
}

.redes i{

    width:50px;
    height:50px;

    border-radius:50%;

    background:#ea4e4e;

    display:flex;

    justify-content:center;
    align-items:center;

    color:white;

    font-size:24px;

    cursor:pointer;
}

/* COPYRIGHT */

.copy{

    width:100%;

    text-align:center;

    padding:20px;

    border-top:1px solid #ddd;
}

.copy p{

    color:#333;

    font-size:16px;
}

/* RESPONSIVE */

@media(max-width:1100px){

    .footer_container{


    }

}

@media(max-width:700px){

    .footer_container{

        grid-template-columns:1fr;

        text-align:center;
    }

    .footer_box{

        align-items:center;
    }

    .logo{

        font-size:45px;
    }

}


